services:
  frontend-angular:
    build:
      context: ./frontend-angular
      dockerfile: Dockerfile
    container_name: angular
    ports:
      - "80:80"
    depends_on:
      - backend-node
    networks:
      - frontend

  backend-node:
    build:
      context: ./backend-node
      dockerfile: Dockerfile
    container_name: node
    environment:
      - NODE_ENV=production
    networks:
      - frontend

networks:
  frontend:
    driver: bridge
