services:
  frontend-angular:
    container_name: angular-dev
    ports:
      - "4200:4200"
    volumes:
      - ./frontend-angular:/app
    working_dir: /app
    environment:
      - NODE_ENV=development
    command: npm run watch

  backend-node:
    container_name: node-dev
    volumes:
      - ./backend-node:/app
    working_dir: /app
    environment:
      - NODE_ENV=development
    command: npm run dev
