services:
  backend-node:
    build:
      context: .
      target: dev
    container_name: backend-node-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - NODE_ENV=development
    command: npm run dev
